<!doctype html>
<html lang="en" ng-app="app">
<head>
    <title>Student Info Display</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/book.png" type="image/x-icon">
    
    <!-- Latest compiled and minified CSS -->
    <!--<link rel='stylesheet' href='lib/bootstrap-3.3.6.min.css'>-->
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- jquery library from google cdn -->
    <script src='lib/jquery-1.12.4.min.js'></script>
    <!-- Latest compiled JavaScript -->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!--<script src='lib/bootstrap-3.3.6.min.js'></script>-->
    <script src='lib/js.cookie-2.1.2.js'></script>
    <script src='app.js'></script>
    <script src='studentService.js'></script>
    <script src='studentData.js'></script>
    <script src='student-info/student-info.js'></script>
    <link rel='stylesheet' href='styles.css'>
</head>
<body ng-controller="MainCtrl">
    <div class="container">
        <div class="well" style="margin-top: 20px">
        <h2>Student Info Display</h2>
        </div>
        <p>Displays student info in both table and tile format </p>
        <div class="btn-group" style="margin-bottom: 10px">
            <md-button id="toggleButton" type="button" class="md-icon-button" title="Show/Hide Data">
                <img src="img/showHide.png" width=30 height=30>
            </md-button>
            <md-button id="tableButton" type="button" class="md-icon-button" title="Table View">
                <img src="img/table.png" width=30>
            </md-button>
            <md-button id="tileButton" type="button" class="md-icon-button" title="Tile View">
                <img src="img/tiles.jpg" width=30>
            </md-button>
        </div>
<!------------------------- Button group two -------------------------------------------------->
<div class="btn-group pull-right" style="margin-bottom: 10px">
            <md-button id="addStudent" type="button" class="md-raised btn btn-default btn-xs" title="Add Student" data-toggle="modal" data-target="#addModal">
                Add</md-button>
            <md-button id="deleteStudent" type="button" class="md-raised btn btn-default btn-xs" title="Delete Student" data-toggle="modal" data-target="#deleteModal">
                Delete</md-button>
            <md-button id="updateStudent" type="button" class="md-raised btn btn-default btn-xs" title="Update Student Info" data-toggle="modal" data-target="#updateModal">
                Update</md-button>
        </div>
<!---------------------- TABLE CODE------------------------------------------------>
        <table class="table table-striped">
            <thead>
                <tr id='tableHead'>
                    <th id='tableName' style='cursor: pointer'>Name</th>
                    <th id='tableStart' style='cursor: pointer'>Start</th>
                    <th id='tableStreet'>Street</th>
                    <th id='tableCity' style='cursor: pointer'>City</th>
                    <th id='tableState' style='cursor: pointer'>State</th>
                    <th id='tableZip' style='cursor: pointer'>Zip</th>
                    <th id='tablePhone'>Phone</th>
                    <th id='tableYear' style='cursor: pointer'>Year</th>
                    <th id='tableID' style='cursor: pointer'>ID</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        
<!---------------------- TILES CODE------------------------------------------------>
        <div id="tiles" hidden>
            <md-list id="subTiles" md-cols="1" md-row-height="200px">
                <md-list-item class="md-1-line" ng-repeat="student in students" role="listitem">
                  <student-info student="student"></student-info>
                </md-list-item>
            </md-list>
        </div>
    </div>
    <div id="results">
        
    </div>
    

<!---------------------- MODAL CODE------------------------------------------------>    
   
    <div ng-show="false" id ='myModal' class="modal fade bs-example-modal-sm loader" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop='static' data-keyboard='false'>
      <div class="modal-dialog modal-sm">
      </div>
    </div>
    
        <!-- Trigger the modal with a button -->
    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exModal">Open Modal</button> -->
    
    <!-- Modal -->
    <div id="addModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <md-button type="button" class="close" data-dismiss="modal">&times;</md-button>
            <h4 class="modal-title">Add Student</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="fnameForm">First Name</label>
              <input type="text" class="form-control" id="fnameForm" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="lnameForm">Last Name</label>
              <input type="text" class="form-control" id="lnameForm" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="startDateForm">Start Date</label>
              <input type="text" class="form-control" id="startDateForm" placeholder="Start Date ex: mm/dd/yy">
            </div>
            <div class="form-group">
              <label for="streetForm">Street</label>
              <input type="text" class="form-control" id="streetForm" placeholder="Street Address">
            </div>
            <div class="form-group">
              <label for="cityForm">City</label>
              <input type="text" class="form-control" id="cityForm" placeholder="City">
            </div>
            <div class="form-group">
              <label for="stateForm">State Abbreviation</label>
              <input type="text" class="form-control" id="stateForm" placeholder="State ex: ID">
            </div>
            <div class="form-group">
              <label for="zipForm">Zip Code</label>
              <input type="text" class="form-control" id="zipForm" placeholder="Zip ex: 83713">
            </div>
            <div class="form-group">
              <label for="phoneForm">Phone Number</label>
              <input type="text" class="form-control" id="phoneForm" placeholder="Phone ex: 555-5555">
            </div>
            <div class="form-group">
              <md-input-container>
                <label for="yearForm">Student Year</label>
                <md-select class="form-control md-no-underline" ng-model="year" id="yearForm">
                  <md-option>1</md-option>
                  <md-option>2</md-option>
                  <md-option>3</md-option>
                  <md-option>4</md-option>
                </md-select>
              </md-input-container>
            </div>
            <md-button type="submit" class="btn btn-success btn-block" id="addStudentSubmit">Submit</md-button>
          </form>
        </div>
      </div>
    </div>
  </div>
    
    
    <!------- Delete Modal ------->
    <div id="deleteModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <md-button type="button" class="close" data-dismiss="modal">&times;</md-button>
            <h4 class="modal-title">Delete Student</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="deleteList">Select Student to Delete:</label>
              <md-input-container>
                <md-select class="form-control md-no-underline" ng-model="studentToDelete" id="deleteList">
                </md-select>
              </md-input-container>
            </div>
            
              <md-button type="submit" class="btn btn-success btn-block" id="deleteStudentSubmit">Submit</md-button>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!----- Update Modal --------->
    <div id="updateModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <md-button type="button" class="close" data-dismiss="modal">&times;</md-button>
            <h4 class="modal-title">Update Student</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="updateList">Select Student to Update:</label>
              <md-input-container>
                <md-select class="form-control md-no-underline" ng-model="studentToUpdate" id="updateList">
                </md-select>
              </md-input-container>
            </div>
            <div class="form-group">
              <label for="fnameUpForm">First Name</label>
              <input type="text" class="form-control" id="fnameUpForm" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="lnameUpForm">Last Name</label>
              <input type="text" class="form-control" id="lnameUpForm" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="startDateUpForm">Start Date</label>
              <input type="text" class="form-control" id="startDateUpForm" placeholder="Start Date ex: mm/dd/yy">
            </div>
            <div class="form-group">
              <label for="streetUpForm">Street</label>
              <input type="text" class="form-control" id="streetUpForm" placeholder="Street Address">
            </div>
            <div class="form-group">
              <label for="cityUpForm">City</label>
              <input type="text" class="form-control" id="cityUpForm" placeholder="City">
            </div>
            <div class="form-group">
              <label for="stateUpForm">State Abbreviation</label>
              <input type="text" class="form-control" id="stateUpForm" placeholder="State ex: ID">
            </div>
            <div class="form-group">
              <label for="zipUpForm">Zip Code</label>
              <input type="text" class="form-control" id="zipUpForm" placeholder="Zip ex: 83713">
            </div>
            <div class="form-group">
              <label for="phoneUpForm">Phone Number</label>
              <input type="text" class="form-control" id="phoneUpForm" placeholder="Phone ex: 555-5555">
            </div>
            <div class="form-group">
              <md-input-container>
                <label for="yearUpForm">Select Student Year:</label>
                <md-select class="form-control md-no-underline" ng-model="studentYear" id="yearUpForm">
                  <md-option>1</md-option>
                  <md-option>2</md-option>
                  <md-option>3</md-option>
                  <md-option>4</md-option>
                </md-select>
              </md-input-container>
            </div>
            <md-button type="submit" class="btn btn-success btn-block" id="updateStudentSubmit">Submit</md-button>
          </form>
        </div>
      </div>
    </div>
  </div>

    
    
<!--------------------- JAVASCRIPT ----------------------------------------------->
    <script src='sortComparators.js'></script>
    <script src="studentData.js"></script>
</body>
</html>







