/* Minimal table column width (removes table wiggle)*/
.table td, .table th {
    min-width: 70px;
}

th {
    text-align: left;
    font-size: 13px;
    height: 100%;
    display: inline-block;
}
md-list-item{
    box-sizing: border-box;
    height: 40px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(236, 236, 236);

}




/* Custom Modal Style */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 47%;
    top: 45%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.student-info-padding {
    padding-top: 40px;
    width: 190px;
    white-space: nowrap;
}

.student-text-overflow {
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.grid-width {
    min-width: 200px;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}